/* app.component.css */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: #444;
  color: white;
  padding: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a.active {
  border-bottom: 2px solid white;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
