<article class="text--justified">
  <header>
    <h2>Create Movie</h2>
  </header>

  <form (ngSubmit)="onSubmit()">
    <label for="title">Movie Title:</label>
    <input type="text" id="title" [(ngModel)]="movieTitle" name="title" required>

    <label for="releaseYear">Release Year:</label>
    <input type="number" id="releaseYear" [(ngModel)]="movieReleaseYear" name="releaseYear" required>


    <button type="submit">Create Movie</button>
  </form>

  <a [routerLink]="['/directors']">Back to Directors</a>
</article>
